<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="sequentialSelectBox.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.js"></script>
</head>
<body>
<div id="wrap">
    <div class="list_menu">
        <div class="menu_item"><a href="javascript:;" class="link_menu">Lv1</a></div>
        <div class="menu_item"><a href="javascript:;" class="link_menu">Lv2</a></div>
        <div class="menu_item"><a href="javascript:;" class="link_menu">Lv3</a></div>
    </div>
</div>
<script id="sequentialSelectBoxTemplate" type="text/x-jsrender">
    <div class="tmpl_ssb" data-tmpl-idx="{{:idx}}">
        <ul class="list_cont">
            {{for list ~place=name}}
                <li>
                    <a href="javascript:;"> {{:~place}}{{:#data}} </a>
                </li>
            {{/for}}
        </ul>
    </div>

</script>
<script type="text/javascript" src="sequentialSelectBox.js"></script>
</body>
</html>