<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{margin:0;padding:0}
        .comp_slide{
            overflow:hidden;
            position:relative;
            width:100%
        }

        .list_slide{
            overflow:hidden;
            width:100%;
            height:375px;
            background-color:ivory;
        }
        .item_slide{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:375px;
            background-color:#007aff;
            font-size:50px;
            line-height:375px;
            color:#fff;
            text-align:center;
        }
        .test_img{
            width:175px;
            height:175px;
            background-color:#5fd8ff;
            font-size:50px;
            line-height:175px;
            color:#fff;
            text-align:center;

        }
        .wrap_test{
            overflow:hidden;
            position:absolute;
            top:100px;
            left:100px;
            bottom:100px;
            right:100px;
            width:175px;
            height:175px;
            border-bottom:5px solid #000;
        }


    </style>
</head>
<body>
<div class="wrap">
    <div class="comp_slide">
        <div class="list_slide">
            <div class="item_slide" style="background-color:red">상자</div>
            <div class="item_slide" style="background-color:blue">
                <div class="wrap_test">
                    <div class="test_img" style="">니코</div>
                </div>
                <div class="wrap_test">
                    <div class="test_img" style="">푸루도</div>
                </div>
                <div class="wrap_test">
                    <div class="test_img" style="">어피치</div>
                </div>
            </div>
            <div class="item_slide" style="background-color:yellow">마켓</div>
        </div>
    </div>
</div>
<!--<script type="text/javascript" src="frame2.js"></script>-->
<script type="text/javascript">
  'use strict';
  window.onload = function(){
    (function(doc){
      //const
      var FPS = 1000 / 60;
      var START_POSITION = 0; // 0~100
      var END_POSITION = 100; // 0~100
      var SWIPE_DURATION = 600; // ms
      var SWIPE_DELAY = 4000; // ms
      var SLIDE_DURATION = 300; // ms
      var SLIDE_DELAY = 1600; //ms
      var ICON_DURATION = 200; // ms
      var ICON_LOOP_COUNT = 40; // 30~50
      var ICON_POSITION_LIST = ['0 0', '25% 0', '50% 0', '70% 0', '100% 0'];
      //elem
      var ctx = selectOne('.prm_market');
      var elSlide = selectOne('.slide', ctx);
      var elIcon = selectOne('.ico_visual', elSlide);
      var elImageList = selectAll('[data-src]', elSlide);
      var elSwipeList = selectAll('.panel', elSlide);
      var elSlideList = selectAll('.item_panel', elSlide);
      var elImgBarList = selectAll('.img_bar', elSlide);
      //value
      var tick = 0; // 0~1, 0=0%, 1=100%
      var animationProgress = 0; // 0~100
      var framePool = {
        0:function(){
          elSwipeList[0].style.left = '0';
          elSwipeList[1].style.left = '100%';
          elSwipeList[2].style.left = '100%';
          elSlideList[0].style.height = '100%';
          elSlideList[1].style.height = '0';
          elSlideList[2].style.height = '0';
          nextFrame(1)();
        },
        1:function(){
          delay(animate(swipeLeft(elSwipeList[0], elSwipeList[1]), FPS, END_POSITION, nextFrame(2)), SWIPE_DELAY);
        },
        2:function(){
          delay(animate(slideDown(elSlideList[1], elImgBarList[0]), FPS, END_POSITION, nextFrame(3)), SLIDE_DELAY);
        },
        3:function(){
          delay(animate(slideDown(elSlideList[2], elImgBarList[1]), FPS, END_POSITION, nextFrame(4)), SLIDE_DELAY);
        },
        4:function(){
          delay(animate(swipeLeft(elSwipeList[1], elSwipeList[2]), FPS, END_POSITION, nextFrame(5)), SLIDE_DELAY);
          delay(changeIcon, SLIDE_DELAY/2);
        },
        5:function(){
          delay(animate(swipeLeft(elSwipeList[2], elSwipeList[0]), FPS, END_POSITION, nextFrame(0)), SWIPE_DELAY);
        }
      };
      play();
      //util
      function selectOne(selector, parentDOM){
        return (parentDOM || doc).querySelector(selector);
      }
      function selectAll(selector, parentDOM){
        return Array.prototype.slice.call((parentDOM || doc).querySelectorAll(selector));
      }
      //void
      function play(){
        loadImages(elImageList, nextFrame(0));
      }
      function easeInOutExpo(t, b, c, d){
        if(t === 0){
          return b;
        }
        if(t === d){
          return b + c;
        }
        if((t /= d / 2) < 1){
          return c / 2 * Math.pow(2, 10 * (t - 1)) + b;
        }
        return c / 2 * (-Math.pow(2, -10 * --t) + 2) + b;
      }
      function delay(next, ms){
        setTimeout(function(){
          next();
        }, ms || 1000);
      }
      function loadImages(imageList, next){
        var loadedImageList = [];
        imageList.forEach(function(img, index){
          img.src = img.getAttribute('data-src');
          img.removeAttribute('data-src');
          img.onload = function(){
            loadedImageList.push(img);
            if(elImageList.length === loadedImageList.length){
              next();
            }
          };
        });
      }
      //return function
      function animate(frame, fps, maxProgress, next){
        return function(){
          frame();
          if(Math.abs(animationProgress) < maxProgress){
            setTimeout(function(){
              animate(frame, fps, maxProgress, next)();
            }, fps);
          }else{
            tick = 0;
            animationProgress = 0;
            if(next){
              next();
            }
          }
        };
      }
      function nextFrame(frameIndex){
        return function(){
          if(!framePool[frameIndex]){
            return;
          }
          framePool[frameIndex].call(this, frameIndex);
        };
      }
      function swipeLeft(swipeTarget, nextTarget){
        return function(){
          var percent = Number(easeInOutExpo((tick += FPS), START_POSITION, END_POSITION, SWIPE_DURATION).toFixed(0));
          animationProgress = percent;
          percent *= -1;
          swipeTarget.style.left = percent + '%';
          nextTarget.style.left = (percent + END_POSITION) + '%';
        };
      }
      function slideDown(slideTarget, barTarget){
        return function(){
          var percent = Number(easeInOutExpo((tick += FPS), START_POSITION, END_POSITION, SLIDE_DURATION).toFixed(0));
          animationProgress = percent;
          slideTarget.style.height = percent + '%';
          barHandler(barTarget, percent);
        };
      }
      function barHandler(barTarget, percent){
        var barTargetStyle = barTarget.style;
        if(percent < 1){
          barTargetStyle.display = 'block';
        }
        if(percent > 99){
          barTargetStyle.display = 'none';
        }
      }
      function changeIcon(){
        var iconIndex = 0;
        var cnt = 0;
        changeIconFrame();
        function changeIconFrame(){
          iconIndex = iconIndex < (ICON_POSITION_LIST.length - 1) ? iconIndex + 1:0;
          elIcon.style.backgroundPosition = ICON_POSITION_LIST[iconIndex];
          cnt++;
          if(cnt > ICON_LOOP_COUNT){
            cnt = 0;
          }else{
            setTimeout(function(){
              changeIconFrame();
            },ICON_DURATION);
          }
        }
      }
    })(document);
  };
</script>
</body>
</html>
