<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="playerList.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div id="wrap">
    <ul class="list-player">
        <li><a href="javascript:;" class="link-player"><img src="https://dummyimage.com/100x100/efefef/000000" class="img-player" alt=""></a></li>
        <li><a href="javascript:;" class="link-player"><img src="https://dummyimage.com/100x100/efefef/000000" class="img-player" alt=""></a></li>
        <li><a href="javascript:;" class="link-player"><img src="https://dummyimage.com/100x100/efefef/000000" class="img-player" alt=""></a></li>
        <li><a href="javascript:;" class="link-player"><img src="https://dummyimage.com/100x100/efefef/000000" class="img-player" alt=""></a></li>
        <li><a href="javascript:;" class="link-player"><img src="https://dummyimage.com/100x100/efefef/000000" class="img-player" alt=""></a></li>
        <li><a href="javascript:;" class="link-player"><img src="https://dummyimage.com/100x100/efefef/000000" class="img-player" alt=""></a></li>
        <li><a href="javascript:;" class="link-player"><img src="https://dummyimage.com/100x100/efefef/000000" class="img-player" alt=""></a></li>
        <li><a href="javascript:;" class="link-player"><img src="https://dummyimage.com/100x100/efefef/000000" class="img-player" alt=""></a></li>
        <li><a href="javascript:;" class="link-player"><img src="https://dummyimage.com/100x100/efefef/000000" class="img-player" alt=""></a></li>
        <li><a href="javascript:;" class="link-player"><img src="https://dummyimage.com/100x100/efefef/000000" class="img-player" alt=""></a></li>
        <li><a href="javascript:;" class="link-player"><img src="https://dummyimage.com/100x100/efefef/000000" class="img-player" alt=""></a></li>
    </ul>
</div>
<script type="text/javascript" src="playerList.js"></script>
</body>
</html>